/*
References:
background images: http://subtlepatterns.com/page/9/
*/
body{
background:url("../images/use_your_illusion.png");
background-repeat:repeat;
font-family: arial;
}

.menuItem{
margin-bottom:10px;
margin-top: 15px;
color: #FFF;
padding: 10px;
cursor: pointer;
}

.menuItemIdle{
background-color:#008fc5;
}

.menuItem:hover{
background-color:#CEE3F6;
}

.menuItemClicked{
background-color:#104E8B;
}

#container{
margin-left:auto;
margin-right:auto;
width:1000px;
}

#header{
padding:30px;
background-color:#FFF;
border-bottom: 1px solid #333;
}

#menu{
/*background-color:#008fc5;*/
background-color: #FFF;
border-right: 1px solid #333;
float: left;
padding: 25px;
padding-top: 0px;
padding-bottom: 20px;
width: 150px;
height: 650px;
}

#content{
margin-left:200px;
padding: 10px;
background-color: #CEE3F6;
height: 650px;
}

.inputSection{
margin-bottom: 15px;
}

.displayLabel{
width: 160px;
height: 40px;
font-size: 14px;
font-weight: bold;
line-height: 40px;
float:left;
}

.addTextBox{
width: 400px;
height: 30px;
font-size: 16px;
line-height: 40px;
}

.clearButton{
background-color: #104E8B;
cursor: pointer;
width: 80px;
height: 26px;
float: left;
color: #FFF;
line-height: 26px;
text-align: center;
margin-left: 369px;
padding: 3px;
}

.submitButton{
background-color: #104E8B;
cursor: pointer;
width: 80px;
height: 26px;
color: #FFF;
line-height: 26px;
text-align: center;
margin-left: 477px;
padding: 3px;
}

.contentDivider{
margin-left: 35px;
margin-bottom: 30px;
margin-top: 15px;
width: 900px;
}

.labelDisplay{
float: left;
font-weight: bold;
width: 160px;
height: 20px;
line-height: 26px;
vertical-align: text-middle;
}

.searchTextbox{
height: 20px;
width: 575px;
float: left;
}

#searchSubmit{
width:80px;
height: 26px;
cursor: pointer;
color: #FFF;
line-height: 26px;
margin-left: 626px;
text-align: center;
background-color:#104E8B;
padding:2px;
}

#footer{
float: bottom;
padding: 10px;
background-color: #22333e;
color:#FFF;
text-align: right;
}

table{
border-collapse: collapse;
border: solid;
border-width: 1px;
border-color: #104E8B
}

.tableHead{
font-weight:bold;
border:solid;
border-width: 1px;
border-color:#104E8B;
}

.searchTableRow:hover{
background-color: #FFF;
}

td{
width: 235px;
}