/*
References:
background images: http://subtlepatterns.com/page/9/
*/
body{
background:url("../images/use_your_illusion.png");
background-repeat:repeat;
}

.menuItem{
margin-bottom:10px;
margin-top: 15px;
color: #FFF;
padding: 10px;
cursor: pointer;
}

.menuItemIdle{
background-color:#008fc5;
}

.menuItem:hover{
background-color:#CEE3F6;
}

.menuItemClicked{
background-color:#104E8B;
}

#container{
margin-left:auto;
margin-right:auto;
width:98%;
background-color:#A4A4A4;
}

#header{
padding:30px;
background-color:#FFF;
margin-bottom:1px;
}

#menu{
/*background-color:#008fc5;*/
background-color:#FFF;
float:left;
padding:25px;
padding-top: 0px;
padding-bottom:20px;
width:130px;
height: 650px;
}

#content{
margin-left:181px;
padding: 10px;
background-color: #CEE3F6;
height: 650px;
}

.inputSection{
margin-bottom: 15px;
}

.displayLabel{
width: 160px;
height: 40px;
font-size: 14px;
font-weight: bold;
line-height: 40px;
float:left;
}

.inputTextbox{
width: 400px;
height: 30px;
font-size: 16px;
line-height: 40px;
}

.clearButton{
background-color: #008fc5;
width: 120px;
height: 40px;
float: left;
color: #FFFFFF;
font-size: 27px;
text-align: center;
margin-left: 160px;
padding-top:8px;
}

.submitButton{
background-color: #008fc5;
width: 120px;
height: 40px;
color: #FFFFFF;
font-size: 27px;
text-align: center;
margin-left: 442px;
padding-top:8px;
}

.contentDivider{
margin-left: 10px;
margin-bottom: 30px;
width: 900px;
}

.labelDisplay{
float: left;
width: 160px;
height: 20px;
line-height: 26px;
vertical-align: text-middle;
}

.textInput{
height: 20px;
width: 400px;
float: left;
}

.submitSearch{
width:80px;
height: 26px;
color: #FFF;
line-height: 26px;
margin-left: 590px;
text-align: center;
background-color:#104E8B;
}

#footer{
float: bottom;
padding: 10px;
background-color: #6E6E6E;
color:#FFF;
text-align: right;
}

table{
border-collapse: collapse;
border: solid;
border-width: 1px;
border-color: #104E8B
}

.tableHead{
style='font-weight:bold;
border:solid;
border-width: 1px;
border-color:#104E8B;
}

.highLightedRow{
background-color:#104E8B;
width: 50px;
}

td{
width: 300px;
}