/* background images: http://subtlepatterns.com/page/9/*/
body{
background:url("../images/use_your_illusion.png");
background-repeat:repeat;
}

.menuItem{
background-color:#008fc5;
margin-bottom:10px;
margin-top: 15px;
color:#FFF;
padding:10px;
}
#container{
margin-left:auto;
margin-right:auto;
width:98%;
background-color:#A4A4A4;
}

#header{
padding:30px;
background-color:#FFF;
margin-bottom:1px;
}

#menu{
/*background-color:#008fc5;*/
background-color:#FFF;
float:left;
padding:25px;
padding-top: 0px;
padding-bottom:20px;
width:130px;
height: 650px;
}

#content{
margin-left:181px;
padding: 10px;
background-color: #CEE3F6;
height: 650px;
}

#footer{
float: bottom;
padding: 10px;
background-color: #6E6E6E;
color:#FFF;
text-align: right;
}